@use "styles/vars";

.container {
  width: 100%;
  flex-direction: row;

  .searchInputContainer {
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .searchInput {
    background-color: vars.$color-card;
    @extend %body;
  }
}
