@use "styles/vars";

.container {
  .searchInputContainer {
    align-items: center;
    justify-content: center;
  }

  .searchInput {
    background-color: vars.$color-card;
    @extend %body;
  }
}
