.container {
  align-items: stretch;
  justify-content: stretch;
  gap: vars.$spacing-primary;

  .row {
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: vars.$spacing-primary;

    .search {
      flex: 1;
    }

    .filter {
    }
  }

  .sort {
  }
}
