@use "styles/vars";

.container {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 1;

  &:active {
    transform: scale(0.95);
  }

  .label {
    text-align: center;
  }

  .icon {
    font-size: vars.$icon-size-large;
    color: vars.$color-text-primary;
  }
}
