.default {
  background-color: vars.$color-primary;
}

.button {
  flex-direction: row;
  cursor: pointer;
  border-radius: vars.$roundness;
  align-items: center;
  justify-content: center;
  gap: vars.$spacing-tertiary;

  .iconLeft {
    color: vars.$color-text-primary;
    font-size: vars.$icon-size-large;
  }

  .iconRight {
    color: vars.$color-text-primary;
    font-size: vars.$icon-size-medium;
  }

  .label {
    font-size: vars.$font-size-body;
    color: vars.$color-text-primary;
    flex: 1;
    align-items: center;
    padding: vars.$spacing-secondary;
  }

  &:active {
    scale: vars.$click-scale;
  }
}

.iconOnly {
  aspect-ratio: 1;
}
