@use "styles/vars";

.button {
  background-color: vars.$color-card;
  padding: vars.$spacing-secondary;
  border-radius: vars.$roundness;
  cursor: pointer;
  background-color: vars.$color-primary;

  &:active {
    transform: scale(0.975);
  }

  .label {
    color: vars.$color-text-primary;
    text-align: center;
  }
}
