@use "styles/vars";

.button {
  position: absolute;
  height: vars.$spacing-primary * 3.5;
  width: vars.$spacing-primary * 3.5;
  bottom: vars.$spacing-primary;
  right: vars.$spacing-primary;
  background-color: vars.$color-primary;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:active {
    transform: scale(0.975);
  }

  .icon {
    color: vars.$color-text-primary;
  }
}
