@use "styles/vars";

.container {
  flex-direction: row;
  align-items: center;

  &:active {
    transform: scale(0.98);
  }

  .info {
    flex: 1;
  }

  .front {
    @extend %body;
  }

  .back {
    @extend %body2;
  }
}
