.header {
  width: 100%;
  z-index: 1;
}

.content {
  padding: vars.$spacing-primary;
  gap: vars.$spacing-primary;
  height: 100%;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  overflow: scroll;
}

.navbar {
  width: 100%;
  height: vars.$layout-height-navbar;
  margin-top: auto;
}
