@use "styles/vars";

.container {
  flex-direction: row;
  align-items: center;

  .info {
    flex: 1;
  }

  .front {
    color: vars.$color-text-primary;
    font-size: vars.$font-size-body;
  }

  .back {
    color: vars.$color-text-secondary;
    font-size: vars.$font-size-body2;
  }

  .deleteBtn {
    color: vars.$color-text-primary;
    background-color: rgba(0, 0, 0, 0);
  }
}
