$color-background: #141418;
$color-card: #1d1d23;
$color-outline: #808080;
$color-primary: #30345f;
$color-secondary: #fe422f;

$color-text-primary: rgb(255 255 255 / 90%);
$color-text-secondary: rgb(255 255 255 / 55%);
$color-text-tertiary: rgb(255 255 255 / 35%);

$spacing-primary: 1.2rem;
$spacing-secondary: 0.8rem;
$spacing-tertiary: 0.4rem;

$roundness: 12px;
$click-scale: 0.96;

$layout-height-header: 60px;
$layout-height-navbar: 60px;

$font-size-h1: 1.75rem;
$font-size-h2: 1.5rem;
$font-size-h3: 1.25rem;
$font-size-body: 1rem;
$font-size-body2: 0.8rem;

$icon-size-large: 1.2rem;
$icon-size-medium: 0.9rem;

$breakpoint-medium: 900px;
$breakpoint-large: 1200px;

%h1 {
  font-size: $font-size-h1;
  color: $color-text-primary;
}

%h2 {
  font-size: $font-size-h2;
  color: $color-text-primary;
}

%h3 {
  font-size: $font-size-h3;
  color: $color-text-primary;
}

%body {
  font-size: $font-size-body;
  color: $color-text-primary;
}

%body2 {
  font-size: $font-size-body2;
  color: $color-text-secondary;
}
