$color-background: #121212;
$color-card: #1a2028;
$color-outline: #808080;
$color-primary: #1e90ff;
$color-secondary: #fe422f;

$color-text-primary: rgb(255 255 255 / 87%);
$color-text-secondary: rgb(255 255 255 / 60%);
$color-text-tertiary: rgb(255 255 255 / 38%);

$spacing-primary: 1.2rem;
$spacing-secondary: 0.8rem;
$spacing-tertiary: 0.5rem;

$roundness: 10px;
