@use "styles/vars";

.inputContainer {
  .input {
    background-color: vars.$color-background;
    padding: vars.$spacing-primary;
    border-radius: vars.$roundness;
    color: vars.$color-text-primary;
    width: 100%;

    &:focus {
      outline: 1px solid vars.$color-primary;
    }
  }

  .icon {
    position: absolute;
    right: vars.$spacing-primary;
    top: 50%;
    transform: translateY(-50%);
    color: vars.$color-text-tertiary;
  }
}
