.container {
  flex-direction: row;
  background-color: vars.$color-background;
  border-top-left-radius: vars.$roundness;
  border-top-right-radius: vars.$roundness;
  background-color: vars.$color-background;
  justify-content: stretch;
  align-items: stretch;
}
