@use "styles/vars";

.container {
  flex-direction: row;
  padding: vars.$spacing-primary;
  background-color: vars.$color-background;
  align-items: center;
  gap: vars.$spacing-primary;

  .backBtn {
  }

  // .avatar {
  //   height: 100%;
  //   background-color: lightgreen;
  //   border-radius: 50%;
  //   aspect-ratio: 1;
  //   margin-left: auto;
  // }
}
