@use "styles/vars";

.container {
  position: fixed;
  bottom: vars.$spacing-primary;
  flex-direction: row;
  background-color: rgba(20, 20, 20, 0.95);
  align-self: center;
  border-radius: vars.$roundness;
  padding: vars.$spacing-primary;
  gap: vars.$spacing-primary * 2;
}
