.container {
  align-items: flex-start;
  flex: 1;
  justify-content: center;
}

.titleContainer {
  flex-direction: row;
  gap: vars.$spacing-tertiary;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  .title {
    display: inline-block;
    font-size: vars.$font-size-h3;
    flex-direction: row;
    align-items: center;
    gap: vars.$spacing-tertiary;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: calc(vars.$spacing-tertiary / 2);
  }

  .tooltipBtn {
    color: vars.$color-text-secondary;
  }

  .tooltipIcon {
    font-size: vars.$font-size-body * 1.2 !important;
    margin-left: -(vars.$spacing-tertiary);
  }
}

.subtitleContainer {
  .subtitle {
    color: vars.$color-text-secondary;
    font-size: vars.$font-size-body2;
    overflow-wrap: anywhere;
  }
}

.clickable {
  cursor: pointer;
}
