@use "styles/vars";

.list {
  gap: vars.$spacing-primary;

  .listItem {
    overflow: hidden;
    flex-direction: row;
  }
}

.h1 {
  @extend %h1;
}

.h2 {
  @extend %h2;
}

.h3 {
  @extend %h3;
}

.body {
  @extend %body;
}

.body2 {
  @extend %body2;
}
